{{ form_start(formformation) }}
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        {{ form_row(formformation.publishedAt) }}
                    </div>
                    
                </div>
                {{ form_row(formformation.title) }}
                {{ form_row(formformation.playlist) }}
                {{ form_row(formformation.categories) }}
            </div>
            <div class="col">
                <!-- emplacement image -->
                <div>
                    {{ form_row(formformation.videoId) }}
                    Image actuelle
                    {% if formation.miniature %}
                            <a href="{{ path('formations.showone', {id:'formation.id'}) }}">
                                {% if 'formation.id' != "" %}
                                    <img src="{{ formation.miniature }}" alt="ecran de formation">
                                {% else %}
                                    <p>(aucune image)</p>
                                {% endif %}
                            </a>
                    {% else %}
                        <p>(aucune image)</p>
                    {% endif %}            
                </ div >
            </div>
        </div>
        <div class="row">
            <div class="col">
            {{ form_row(formformation.description) }}
            </div>
        </div>
    
    {{ form_end(formformation) }}
